# Ignore node_modules and dist folders
node_modules/
dist/

# Ignore environment variable files
.env
.env.production
backend/.env
backend/.env.production

# Ignore log files
*.log

# Ignore backend files
backend/Dockerfile
backend/__pycache__/
backend/argos-454318-service-key.json
backend/credentials.json
backend/fly.toml
backend/requirements.txt
